# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# Data & Models (IMPORTANTE)
Vision/data/
Vision/models/
Vision/output/
Vision/runs/
venv/

Fusion/data/
Fusion/runs/

Lidar/checkpoints/
Lidar/configs/
Lidar/debug_sequence/
Lidar/runs/

runs/
sensor_fusion.egg-info/

# IDE
.vscode/
.idea/