torch
torchvision
torchaudio
ultralytics
streamlit
opencv-python
pandas
matplotlib
seaborn
scikit-image
mmdet3d
open3d
numba
pyquaternion
nuscenes-devkit
pytest
flake8
black
mypy
yapf
efficientnet_pytorch
transformers
prefetch_generator