# Ruta absoluta directa a tus imágenes
path: Vision/data/raw/bdd100k # Raíz del dataset
train: images/100k/train      # Se expande a path/images/100k/train
val: images/100k/val        # Se expande a path/images/100k/val

# Clases (Mapeo BDD100K estandarizado a COCO format)
names:
  0: person
  1: bicycle
  2: car
  3: motorcycle
  4: airplane
  5: bus
  6: train
  7: truck
  8: boat
  9: traffic light
  10: fire hydrant
  11: stop sign