# Ruta base de tu nuevo dataset balanceado
path: data/raw/bdd100k/balanced_train # Ruta relativa desde la carpeta Vision/

train: images # YOLO buscará en path/images
val: ../images/100k/val # Sube un nivel desde path para ir a la validación original

# Clases
names:
  0: person
  1: bicycle
  2: car
  3: motorcycle
  4: airplane
  5: bus
  6: train
  7: truck
  8: boat
  9: traffic light
  10: fire hydrant
  11: stop sign