# Ruta base de tu nuevo dataset balanceado
path: /home/jolux/sensor-fusion-bdd/Sensor-fusion/Vision/data/raw/bdd100k

train: images/100k/train
val: images/100k/val

# Clases
names:
  0: person
  1: bicycle
  2: car
  3: motorcycle
  4: airplane
  5: bus
  6: train
  7: truck
  8: boat
  9: traffic light
  10: fire hydrant
  11: stop sign